USE [master]
GO
/****** Object:  Database [Lab7_PS14048_PolyOE]    Script Date: 07/04/2023 11:03:56 AM ******/
CREATE DATABASE [Lab7_PS14048_PolyOE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab7_PS14048_PolyOE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab7_PS14048_PolyOE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab7_PS14048_PolyOE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab7_PS14048_PolyOE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab7_PS14048_PolyOE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab7_PS14048_PolyOE]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/04/2023 11:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [nvarchar](20) NOT NULL,
	[password] [nvarchar](50) NULL,
	[fullName] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([userID], [password], [fullName], [email], [admin]) VALUES (N'anhtu1', N'123', N'le anh tu', N'anhtu@fpt.edu.vn', 1)
INSERT [dbo].[Users] ([userID], [password], [fullName], [email], [admin]) VALUES (N'anhtu2', N'123', N'le anh tu', N'anhtu@fpt.edu.vn', 1)
INSERT [dbo].[Users] ([userID], [password], [fullName], [email], [admin]) VALUES (N'anhtu4', N'123', N'le anh tu', N'anhtu@fpt.edu.vn', 1)
USE [master]
GO
